<!-- <div class="container">

<div class="row">
  <div class="col-md-8">           
     <h3>The spectacle before us was </h3>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h1 class="tittle">Great question</h1>     
    <p class="description">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="button">Toggle button</button>
  </div>

  <div class="col-md-6">
    <img src="/assets/img/home.jpg">
  </div>

</div>

</div>
 -->
 
 <!-- <mat-grid-list cols = "3" rowHeight = "100px">
  <mat-grid-tile 
  [colspan] = "3"
  [rowspan] = "1"> 
  <div>
  <h3> Instituto San Antonio de Padua </h3>
  </div>
  </mat-grid-tile>
  
  <mat-grid-tile 
  [colspan] = "1"
  [rowspan] = "5">
  <div>
    <h1 class="tittle">¡Bienvenido!</h1>     
    <p class="description">Aquí encontraras diverso material que nos servirá para la cursada del 2° Cuatrimestre. ¡Haz click en el botón y elija su curso!</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="button">Toggle button</button>
  </div>
  </mat-grid-tile>
  
  <mat-grid-tile 
  [colspan] = "2"
  [rowspan] = "5">
  <img src="/assets/img/home.jpg">
  </mat-grid-tile>

</mat-grid-list> -->

<div class="container">

  <div class="row">
    <div class="col-md-6">           
       <h3>Instituto San Antonio de Padua</h3>
    </div>
  </div>
  
</div>

<div class="container">

<div class="row">
  <!-- texto -->
<div class="col-md-6 text">
<h1 class="tittle">¡Bienvenido!</h1>     
<p class="description">Aquí encontraras diverso material que nos servirá para la cursada del 2° Cuatrimestre. ¡Haz click en el botón y elija su curso!</p>
<button type="button" class="btn btn-primary" data-bs-toggle="button">Ver Cursos</button>
</div>

  <!-- Imágen -->
<div class="col-md-6">
<img src="/assets/img/home.jpg" class="img-thumbnail">
</div>

</div>
</div>
