    img{
    margin:auto;
    display: flex;
    max-width: 100%;
}

    h3{
    /* 34 sp • H4 Headline */

position: absolute;


/* Roboto / 34 sp • H4 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 44px;
/* identical to box height, or 129% */

display: flex;
align-items: center;

/* Dark Color */

color: rgba(0, 0, 0, 0.87);
}


    button{
        width: 160px;
        height: 40px;
        text-align: center;
    }

    .container{
        display: flex;
        justify-content: center;
        padding: 20px 0 70px;
    }  
    
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    
    p, h3{
        display: flex;
        justify-content:center;   
    }
    
    .tittle{
        /* Roboto / 60 sp • H2 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        /* identical to box height, or 133% */
        display: flex;
        align-items: center;
        letter-spacing: -1.5px;

        /* Dark Color */
        color: rgba(0, 0, 0, 0.87);
        font-size: 300%;
        text-align: center;
    }

    .description{
        /* 20 sp • H6 Headline */
       

        /* Roboto / Body Big */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */
        letter-spacing: 0.15px;

        /* Dark Color */
        color: rgba(0, 0, 0, 0.87);
}
    
    
    h3{
        text-align: center;
        font-size: 170%;
        left: 4.03%;
        top: 8.79%;
        bottom: 86.91%;
    }
    
   .icono{
    margin: 0;
    display:inline-block;
    height: 40px;
    float:none;
   }