button{
    width: 330px;
    height: 55px;
    background: #EBF2FF;
/* Shadow Blue / 4dp */

background: #EBF2FF;
/* Shadow Blue / 4dp */

box-shadow: rgba(196, 218, 255, 1), rgba(157, 194, 255, 1);
border-radius: 4px;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #EBF2FF;
    --bs-btn-border-color: #EBF2FF;
    --bs-btn-hover-color: #a1c2ff;
    --bs-btn-hover-bg: #a1c2ff;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.mat-raised-button{
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

/* Blue / 70 */

    color: #2264D1;

}

